body{
  background-color: #B5EAEA;
}

h1{
  color: red;
}

p{
  color: #B05B3B;
}

img:hover{
  background-color: #0CECDD;
}

.pizza{
  height: 90px;
  width: 90px;
}

.hearteye{
  height: 100px;
  width: 100px;
}

#heading{
  color: #753422;
}
